h1 {
    text-align: center;
}

table {
    width: 100%;
    height: 500px;
    border: 1px solid black;
}

table, th, td {
    
    padding: 10px;
}

td, th {
    text-align: center;
    width: 25%;
}

button, input {
    width: 100%;
    height: 30px;
}